.body-container{
    display:flex;
   background-image:linear-gradient(to Right, rgba(0, 208, 223, 0.904),rgba(55, 0, 182, 0.726));
}
.course-container{
    width:70%;
    margin: 20px;
    margin-left:20px;
    text-align: center;
}